{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-sm-3">
        {% include ':github:profile.html.twig' %}
    </div>
    <div class="col-sm-9">
        {% include ':github:repos.html.twig' %}
    </div>

{% endblock %}